body{font-family: 'Roboto' !important; font-weight: 400;font-size: 20px;color: #647589}
nav.navbar li a{font-size:.8em !important; color:white; margin:10px;}
.default_background{background-color:#F7F7F7 !important;}
.page_title_40{font-family: 'Fira Sans' !important;font-size: 40px;color: #1e2a78;}
.page_title_20{font-family: 'Fira Sans' !important;font-size: 20px;color: #1e2a78;}
.page_title_70{font-family: 'Fira Sans' !important;font-size: 70px;color: #1e2a78;}
.page_title_60{font-family: 'Fira Sans' !important;font-size: 60px;color: #1e2a78;}
.home-layer-one-background{background-image: url('../img/home_layer.png');background-position: center;background-repeat: no-repeat;background-size: cover;}
.font-sm-8{font-size:.8em;}
.font-sm-9{font-size:.9em;}
.colored-icons i{font-size:3em; color:#D29B6E;}
.info-cards{
    position:relative;
    width:80%;
    margin:auto !important;
    padding:100px 15px;
    /* min-height: 500px; */
}
.colored-icons{position:absolute; top:0px; width:100px; height:100px; border-radius:50%; background-color:#FAE2CC;}

